<div>
  <h1 class="font-bold text-4xl text-center mb-8">Home</h1>
  <div class="text-center">
    <p>My name is Bryson Shelton. I like to listen to music.</p>
    <p>I also like to write code. I created this Rails website</p>
    <p>to show my collected vinyl albums and learn about Rails.</p>
  </div>
</div>